@import "~bootstrap/scss/bootstrap";

.list-group-item, .active {
    color: black;
    background-color: blueviolet;
}

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);

#timer {
    font-size: 2.5em;
    text-align: center;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
